* {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	width: 100%;
	background-color: pink;
	color: white;
	text-decoration: none;
	border-top: 1px solid pink;
	border-bottom: 1px solid pink;
	text-align: center;
	position: fixed;
	z-index: 1;
}

.navbar li {
	display:inline;
	padding: 0 10px 0 10px; 
}

.navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
	text-decoration: none;
	color: white;
}

.left {
	float: left;
	width: 20%;
	position: fixed;
	margin-top: 6em;
}

header {
	max-width: 100%;
}

img {
	max-width: 100%;
}

.right {
	float: right;
	width: 75%;
}

.whiteSpace {
	height: 100px;
}

.content{
	max-width: 100%;
	min-height: 600px;
}

footer {
	max-width: 100%;
	background-color: pink;
}

h1 {
		font-size: 72px;
		text-align: center;
		text-decoration: none;
		color:white;
		background-color: pink;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}